<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie</title>
</head>
<body>
    <h1>The Best OTT Series According to Amritesh</h1>
    <h2>My top 3 series of all-time.</h2>
    <hr />
    <h3><a href="https://en.wikipedia.org/wiki/The_Family_Man_(Indian_TV_series)">Family Man</a></h3>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dc/The_Family_Man.jpeg/220px-The_Family_Man.jpeg">
    <p>This is my favourite series. I love Srikants Character.</p>
    <h3><a href="https://en.wikipedia.org/wiki/Special_Ops_(Indian_TV_series)">Special Ops</a></h3>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Special_OPS_Poster.jpeg/220px-Special_OPS_Poster.jpeg">
    <p>Really cool thriller.</p>
    <h3><a href="https://en.wikipedia.org/wiki/Panchayat_(TV_series)">Panchayat</a></h3>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1a/Panchayat_logo.jpg/220px-Panchayat_logo.jpg">
    <p>Funny and relatable.</p>
</body>
</html>